<div class="modal fade" id="ownerModal{{car.owner.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #212121;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">A Webex account is required to access this feature</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>You will be redirected to Webex for authentication.</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn btn-primary mx-1" 
          href="https://webexapis.com/v1/authorize?client_id=C3769e5da2e48134bc1cdbcdcca6e69090b6c88ba795dc6d28163fb30d24282e5&response_type=code&redirect_uri=https%3A%2F%2Fcargear.herokuapp.com%2Fwebexmint%2Foauth&scope=spark%3Aall%20spark%3Akms&state=cargear">Proceed</a>
        </div>
      </div>
    </div>
  </div>