<div class="modal fade" id="ownerModal{{car.owner.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #212121;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">A Webex account is required to access this feature</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>You will be redirected to Webex for authentication.</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn btn-primary mx-1" href="{% url 'oauth' %}">Proceed</a>
        </div>
      </div>
    </div>
  </div>